body {
  background: black;
  display: flex;
}
#app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vh;
}
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1em;
}
.card {
  border-radius: 10px;
  background: #fff;
  width: 300px;
  height: 600px;
}
.indicator {
  flex-grow: 1;
}
.indicator .pbar {
  height: 20px;
  border: 1px solid white;
}
.indicator .pbar div {
  height: 100%;
  background: white;
}
